* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", "Open Sans", "Roboto";
    background-color: #ffffff;
    line-height: 1.6;
}

/* navbar header */
.header {
    position: sticky;
    top: 0;
    z-index: 100;

    font-weight: 700;
    padding: 1.25rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 10px #0000001a;
    background-color: #ffffff;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

.navbar a {
    font-weight: 500;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    margin-left: 30px;

    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}
.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s ease-in-out;
}
.navbar a:hover::after {
    width: 100%;
}

.navbarNorthern:hover {
    color: #73E993;
}
.navbarNorthern::after {
    background-color: #73E993;
}
.navbarCentral:hover {
    color: #D2B264;
}
.navbarCentral::after {
    background-color: #D2B264;
}
.navbarNortheastern:hover {
    color: #E3925D;
}
.navbarNortheastern::after {
    background-color: #E3925D;
}
.navbarSouthern:hover {
    color: #5DA9D6;
}
.navbarSouthern::after {
    background-color: #5DA9D6;
}

.hambergerMenu {
  display: none;
  cursor: pointer;
}

.bar1 , .bar2 , .bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
  border-radius: 2rem;
}

/* img banner */
.banner {
    width: 100%;
    margin: auto;
    padding: 40px 5rem 0 5rem;
}

.bannerImages {
    width: 100%;
    height: 300px;
    padding: 0 2rem;
    margin: auto;
    display: flex;
    /* align-items: center; */

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 40px;
}

.bannerImage {
    flex: 0 0 100%;
    height: 300px;
    object-fit: cover;
    scroll-snap-align: center;
    border-radius: 20px;
}

.bannerImages::-webkit-scrollbar {
    display: none;
}

/* all content */
.main {
    margin: 80px;
    padding: 0 10.5rem;
}

.content {
    width: 100%;
    min-height: 480px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin: 0 auto;
    margin-bottom: 150px;
    max-width: 1200px;
    align-items: stretch;
}

.contentAll {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contentAllHeading h1 , .contentAllHeading h2 {
    font-weight: 500;
    font-size: 2.25rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.contentAllDetail , .contentAllPlace p {
    font-size: 1rem;
    font-weight: 400;
}

.contentAllHeading , .contentAllDetail  {
    padding-bottom: 1rem;
}


/* all button */
.northernButton , .centralButton , .northeasternButton , .southernButton {
    font-weight: 600;
    font-size: 1rem;
    margin-top: auto;
    padding: 0.75rem 1rem 0.75rem 1.5rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    align-self: flex-start;
    border: none;
    background-color: white;

    cursor: pointer;
    transition: all 0.3s;
}

.northernButton {
    color: #73E993;
}
.centralButton {
    color: #D2B264;
}
.northeasternButton {
    color: #E3925D;
}
.southernButton {
    margin: auto;
    color: #5DA9D6;
}

.icon-green-arrow , .icon-brown-arrow , .icon-redBrown-arrow , .icon-blue-arrow {
    font-size: 1rem;
}
.icon-green-arrow {
    color: #73E993;
}
.icon-brown-arrow {
    color: #D2B264;
}
.icon-redBrown-arrow {
    color: #E3925D;
}
.icon-blue-arrow {
    color: #5DA9D6;
}

.northernButton:hover , .centralButton:hover , .northeasternButton:hover , .southernButton:hover {
    border-radius: 5px;
    color: white;
    box-shadow: 0px 2px 10px #0000001a;
}

.northernButton:hover {
    background-color: #73E993;
}
.centralButton:hover {
    background-color: #D2B264;
}
.northeasternButton:hover {
    background-color: #E3925D;
}
.southernButton:hover {
    background-color: #5DA9D6;
}

.northernButton:hover .icon-green-arrow , .centralButton:hover .icon-brown-arrow ,
.northeasternButton:hover .icon-redBrown-arrow , .southernButton:hover .icon-blue-arrow{
    color: white;
}


/* all img */
.northernImg , .centralImg , .northeasternImg , .southernImg {
    display: flex;
    flex: 1;
    gap: 15px;
    width: 100%;
}

.centralImg , .centralImgs1 , .northeasternImg , .southernImg {
    display: flex;
    flex-direction: column;
}

/* img northern */
.northernImgs1 {
    display: flex;
    flex: 243;
    flex-direction: column;
    gap: 15px;
}

.northernImg1-1 , .northernImg1-2 , .northernImgs2 img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.northernImg1-1 {
    flex: 315;
}

.northernImg1-2 {
    flex: 150;
}

.northernImgs2 {
    display: flex;
    flex: 150;
    flex-direction: column;
    gap: 15px;
}

.northernImgs2 img {
    flex: 1;
    height: 100%;
}

.northernImg1-1:hover , .northernImg1-2:hover , .northernImgs2 img:hover , .centralImgs1 img:hover , .centralImgs2 img:hover ,
.northeasternImg1-1:hover , .northeasternImg1-2:hover , .northeasternImg2-1:hover , .northeasternImg2-2:hover ,
.southern1-1:hover , .southern2-1:hover , .southern2-2:hover {
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 0px 15px 30px #0000001a;
}


/* img central */
.centralImgs1 {
    gap: 15px;
}

.centralImgs1 img , .centralImgs2 img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.centralImgs1 img {
    aspect-ratio: 408 / 150;
}

.centralImgs2 {
    display: flex;
    flex-direction: row;
    flex: 150;
    gap: 15px;
}

.centralImgs2 img {
    height: 100%;
    min-width: 0;
    flex: 1;
}

/* img northeastern */
.northeasternImg1-2 , .northeasternImg2-1 , .northeasternImg2-2 {
    width: 0;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.northeasternImg1-1 , .northeasternImg1-2 , .northeasternImg2-1 , .northeasternImg2-2 {
    transition: transform 0.3s ease;
}

.northeasternImgs1 {
    display: flex;
    gap: 15px;
    flex: 329;
    width: 100%;
    min-height: 0;
}

.northeasternImg1-1 {
    flex: 163;
    width: 0;
    height: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 20px;
}

.northeasternImg1-2 {
    flex: 163;
}

.northeasternImgs2 {
    display: flex;
    width: 100%;
    flex: 136;
    min-height: 0;
    gap: 15px;
}

.northeasternImg2-1 {
    flex: 136;
}

.northeasternImg2-2 {
    flex: 257;
}

/* img southern */
.southernContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

.southernContentHeading h1 , .southernContentHeading h2 {
    font-weight: 500;
    font-size: 2.25rem;
    overflow: hidden;
}

.southernContentDetail , .southernContentHeading {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.southernContentPlace {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.southernImg {
    padding: 0rem 5rem 4rem 5rem;
}

.southern1-1 , .southern2-1 , .southern2-2 {
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.southern2-1 , .southern2-2 {
    width: 0;
    height: 100%;
}

.southern1-1 {
    width: 100%;
    aspect-ratio: 673 / 140;
}

.southerns2 {
    display: flex;
    width: 100%;
    min-height: 0;
    aspect-ratio: 666 / 180;
    gap: 15px;
}

.southern2-1 {
    flex: 494;
}

.southern2-2 {
    flex: 157;
}

.footer {
    border-top: 1px solid #ebebeb;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    padding: 60px 20px;
    gap: 70px;
}

.footerContentDetail {
    flex: 1;
}

.center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.footerContentDetail h3 {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.footerContentDetailLink {
    display: flex;
    flex-direction: column;
}

.footerContentDetailLink a {
    margin-bottom: 0.25rem;
}

.footerContentDetail p , .footerContentDetailLink a {
    color: #555;
    text-decoration: none;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.socailIcon {
    display: flex;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    gap: 1.25rem;
}

.socailIcon i {
    color: #333;
    transition: 0.3s;
}

.socailIcon i:hover {
    color: #D2B264;
}

.footerBottom {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 2rem;
}

.email {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    word-break: break-all;
}

/* respon 900-1343 */
@media (max-width: 1343px) {
    .banner {
        padding: 40px 4rem 0 4rem;
    }

    .bannerImages {
        height: 250px; 
    }

    .bannerImage {
        width: 100%;       
        height: 250px; 
        object-fit: cover;
    }

    .main {
        margin-top: 80px;
        padding: 0 8rem;
    }

    .content {
        gap: 40px;
        min-height: 328px;
    }

    .contentAllHeading h1 , .contentAllHeading h2 , .southernContentHeading h1, .southernContentHeading h2 {
        font-size: 1.75rem;
    }

    .contentAllDetail , .contentAllPlace p ,  .southernContentDetail , .southernContentPlace p{
        font-size: 1rem;
    }

    .northernImg , .centralImg , .northeasternImg {
        aspect-ratio: 408 / 480;
    }

    .northernImgs1 {
        flex: 143;
    }

    .northernImg1-1 {
        flex: 215;
    }

    .northernImg1-2 {
        flex: 100;
    }

    .northernImgs2 {
        flex: 100;
    }

    .contentAllPlace {
        padding-bottom: 1rem;
    }

    .northernButton , .centralButton , .northeasternButton , .southernButton  {
        font-size: 0.9rem;
        padding: 0.65rem 0.9rem 0.65rem 1.4rem;
    }

    .icon-green-arrow , .icon-brown-arrow , .icon-redBrown-arrow , .icon-blue-arrow {
        font-size: 0.9rem;
    }

}

@media (max-width: 1200px) {
    .footerContent {
        padding: 60px;
    }
}

/* respon 1000 */
@media (max-width: 1000px) {
    .banner {
        padding: 40px 1rem 0 1rem;
    }

    .bannerImages {
        height: 200px;
    }

    .bannerImage {
        width: 100%;
        height: 200px;
    }

    .main {
        margin-top: 50px;
        padding: 0 2.5rem;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
        margin-bottom: 80px;
    }
    
    .contentAll {
        display: contents;
        text-align: center;
    }
    
    .contentAllHeading h1 ,.contentAllHeading h2 {
        order: 1;
    }
    
    .contentAllDetail {
        order: 2;
    }
    
    .contentAllPlace {
        order: 3;
        display: flex;
    }

    .contentAllHeading h1 , .contentAllHeading h2 , .southernContentHeading h1, .southernContentHeading h2 {
        font-size: 1.25rem;
    }

    .contentAllDetail , .contentAllPlace p ,  .southernContentDetail , .southernContentPlace p{
        font-size: 1rem;
        max-width: 650px;
    }
    
    .southernContent {
        padding-bottom: 1rem;
    }

    .northernImg , .centralImg , .northeasternImg {
        order: 4;
        width: 100%;
        
        max-width: 320px; 
 
        padding: 0 !important;
        aspect-ratio: 408 / 480; 
        margin-top: 20px;
        
    }

    .southernImg {
        padding: 0 ;
        max-width: 400px;
        margin-top: 20px;
    }

    .southernContentPlace {
        padding-bottom: 1rem;
    }

    .northernButton , .centralButton , .northeasternButton , .southernButton {
        order: 5;
        margin-top: 2rem;
        align-self: center;
    }

    .footerContentDetail h3 {
        font-size: 1.1rem;
    }

    .footerContentDetail p , .footerContentDetailLink a , .contact p {
        font-size: 0.9rem;
    }

}
@media (max-width: 856px) {
    .footerContent {
        flex-direction: column;
        padding: 40px;
        gap: 40px;
    }
    .center-col {
        align-items: flex-start;
    }

    .contentAllPlace , .southernContentPlace {
        display: flex;
        flex-direction: column;
    }
    
}

/* repon 730px ทำเมนูข้างบน*/
@media (max-width: 750px) {
    .main {
        padding: 0 0;
    }

    .header {
        padding: 1rem 2rem;
    }

    .hambergerMenu {
        display: block;
    }

    .change .bar1 {
        transform: translate(0, 7px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -7px) rotate(45deg);
    }

    .menu-acti {
        display: block !important;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background-color: #ffffff;
       
        max-height: 0; 
        overflow: hidden; 
        transition: max-height 0.4s ease-in-out;
    }

    .navbar a {
        font-size: 0.8rem;
        display: block;
        width: 100%; 
        text-align: center;
        padding: 1rem 0;
    }

    .navbar a:hover {
        background-color: #fdfdfd;
    }

   .navbar a:hover::after {
        width: 0;
    }

    .navbar.active {
        max-height: 250px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 10px 10px #0000001a;
    }
}

/* respon 640px */
@media (max-width: 640px) {
    .banner {
        padding: 30px 0 0 0;
    }
    
    .bannerImages {
        height: 150px;
    }

    .bannerImage {
        width: 100%;
        height: 150px; 
    }

    .contentAllPlace , .southernContentPlace {
        display: flex;
        flex-direction: column;
    }

}

/* repon 580px */
@media (max-width: 580px) {
    .main {
        margin: 40px 40px;
    }

    .content {
        gap: 0;
    }

    .contentAllHeading h1 , .contentAllHeading h2 , .southernContentHeading h1, .southernContentHeading h2 {
        font-size: 1.25rem;
    }

    .contentAllPlace , .southernContentPlace {
        display: flex;
        flex-direction: column;
    }

    .northernImg , .centralImg , .northeasternImg {
        max-width: 300px;
    }

    .southernImg {
        padding: 0 ;
    }

    .northernImg, .centralImg, .northeasternImg, .southernImg,
    .northernImgs1, .northernImgs2, 
    .centralImgs1, .centralImgs2, 
    .northeasternImgs1, .northeasternImgs2, 
    .southerns2 {
        gap: 10px !important; 
    }

    .contentAllHeading , .contentAllDetail , .contentAllPlace ,
    .southernContentHeading , .southernContentDetail {
        text-align: start;
        align-self: flex-start; 
    }
    
    .southernContentPlace {
        align-items: flex-start;
        text-align: start;
    }

    .southernContent {
        padding-bottom: 1rem;
    }
    .contentAllDetail , .contentAllPlace p ,  .southernContentDetail , .southernContentPlace p{
        font-size: 1rem;
        max-width: 650px;
    }

}

/* respon 480px */
@media (max-width: 480px) {
    .contentAllDetail , .contentAllPlace p ,  .southernContentDetail , .southernContentPlace p{
        font-size: 1rem;
        max-width: 650px;
    }
    
    .northernImg , .centralImg , .northeasternImg , .southernImg ,
    .northernImgs1 , .northernImgs2 , .centralImgs1 , .centralImgs2 , 
    .northeasternImgs1 , .northeasternImgs2 , .southernImg , .southerns2 {
        gap: 8px !important;
    }

    .northernButton, .centralButton, .northeasternButton, .southernButton {
        align-self: flex-start;
        margin-left: 0.5rem;
    }
}